html,
body {
  font-size: 16px;
  font-family: "DM Sans", sans-serif !important;
  margin: 0;
  padding: 0;
  text-decoration-skip-ink: "auto";
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.Page {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Prompt {
  padding: 1rem;
  height: min-content;
  border-radius: 1rem;
  background-color: #FFFDFA;
  opacity: 0.85;
  margin-bottom: 1rem;
}

#Response {
  border-style: solid;
  border-color: #ff8a00;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.Interact {
  border-radius: 1rem;
  background-color: #FFEFDA;
  opacity: 1;
  padding: 1.5rem;
}

#Intro {
  margin-bottom: 10px;
  max-width: max-content;
}

#Clear {
  margin-left: 15px;
}

#Footer {
  width: 100%;
  bottom: 0.2rem;
  position: fixed;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 1200px) {

  .Page {
    background-image: url("./assets/Heart_Background.png");
  }

  .Input {
    padding: 25px;
    height: min-content;
    width: max-content;
    display: flex;
  }

  .Header {
    width: 30%;
    margin-bottom: 2rem;
  }

  .Plexie {
    display: flex;
    margin-bottom: 2rem;
  }

  .InputPrompt {
    min-width: 30vw;
    margin-right: 1rem;
  }

  #PromptAction {
    display: flex;
    margin-right: 1rem;
  }

  .Interact {
    width: 62%;
  }

  #PlexieImg {
    width: 17%;
    height: 65%;
    margin-right: 5rem;
  }

  #Intro {
    margin-left: 25px;
  }
}

@media (max-width: 1199px) {
  .Input {
    padding: 12px;
    display: block;
    justify-content: right;
  }

  #PromptAction {
    display: block;
    margin-bottom: 1rem;
  }

  .InputPrompt {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
  }

  .Header {
    width: 80%;
    display: block;
  }

  #PlexieImg {
    width: 45%;
    height: 45%;
  }
}