html, body {
  font-size: 16px;
  font-family: "DM Sans", sans-serif !important;
  margin: 0;
  padding: 0;
  text-decoration-skip-ink: "auto";
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.Page {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-image: url("Heart_Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Prompt {
  padding: 1rem;
  height: min-content;
  border-radius: 1rem;
  background-color: #FFFDFA;
  opacity: 0.85;
  margin-bottom: 1rem;
}

.Interact {
  border-radius: 1rem;
  background-color: #FFEFDA;
  opacity: 1;
  padding: 1.5rem;
}

#Intro {
  margin-bottom: 10px;
  max-width: max-content;
  margin-left: 25px;
}

@media (min-width: 1200px) {

  .Input {
    padding: 25px;
    height: min-content;
    width: max-content;
    display: flex;
  }

  .Header {
    width: 30%;
    margin-bottom: 2rem;
  }

  .Plexie {
    display: flex;
    margin-bottom: 50px;
  }

  .InputPrompt {
    width: 25rem;
    margin-right: 1rem;
  }

  .PromptAction {
    display: flex;
    margin-right: 1rem;
  }
}

@media (max-width: 1199px) {
  .Input {
    padding: 25px;
    display: block;
    justify-content: right;
  }

  .PromptAction {
    display: block;
    margin-bottom: 1rem;
  }

  .InputPrompt {
    width: 100%;
    margin-bottom: 1rem;
  }

  .Header {
    display: block;
  }
}