html,
body {
  font-size: 16px;
  font-family: "DM Sans", sans-serif !important;
  margin: 0;
  padding: 0;
  text-decoration-skip-ink: "auto";
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.Page {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./assets/Heart_Background.png");
}

#ToolPrompt {
  width: max-content;
  height: max-content;
  display: inline-flex;
}

#PlexieImg {
  width: 35vh;
  height: 50vh;
  margin-right: 5rem;
}

#Container {
  margin: 3rem;
}

.TextSpace {
  border-radius: 1rem;
  background-color: #FFEFDA;
  opacity: 1;
  padding: 1.5rem;
  margin-top: 2rem;
  max-width: 35vw;
}

#EmailPrompt {
  height: max-content;
  width: max-content;
}

#Footer {
  width: 100%;
  bottom: 0.2rem;
  position: fixed;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 1200px) {

  .Input {
    padding: 25px;
    height: min-content;
    width: max-content;
    display: flex;
  }

  .Header {
    width: 30%;
    margin-bottom: 2rem;
  }

  .Plexie {
    display: flex;
    margin-bottom: 50px;
  }

  .InputPrompt {
    width: 40%;
    margin-right: 10%;
  }
  
  #PromptAction {
    display: flex;
    margin-right: 1rem;
  }

  .Interact {
    width: 62%;
  }

  #Intro {
    margin-left: 25px;
  }
}

@media (max-width: 1199px) {
  .Input {
    padding: 12px;
    display: block;
    justify-content: right;
  }

  #PromptAction {
    display: block;
    margin-bottom: 1rem;
  }

  .InputPrompt {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
  }

  .LongInput {
    width: 100%;
    margin-right: 1rem;
  }

  .Header {
    width: 80%;
    display: block;
  }
}